body{
    background-image: url('https://pbs.twimg.com/media/ErqwWzTW4AErlW2?format=png&name=4096x4096');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}