@font-face {
  font-family: 'font-omori';
  src: url(../fonts/OMORI_GAME2.ttf) format('truetype');
}

.navbar {
    font-family: 'font-omori';
  
    font-size: 23px;
    
    background-color: rgba(0, 0, 0, 0.884);
    height: 50.5px;
  }

  .d-flex{
    margin-bottom: 0px;
  }

  .collapse{
    background-color: white;
  }

  .navbar-collapse{
    background-color: white;
  }

 

  .container-fluid{
    background-color: white;
  }

  

