.navbar {
    font-family: OMORI_GAME;
    src: local("../fonts/OMORI_GAME.ttf");
    font-size: 23px;
    
    background-color: rgba(0, 0, 0, 0.884);
    height: 50.5px;
  }

  .d-flex{
    margin-bottom: 0px;
  }

  .collapse{
    background-color: white;
  }

  .navbar-collapse{
    background-color: white;
  }

 

  .container-fluid{
    background-color: white;
  }

  

