.ost-title{
    font-size: 50px;
    text-align: center;
}

.ost-container{
    font-family: OMORI_GAME;
    src: local("../fonts/OMORI_GAME.ttf");
    margin: auto;
    
  max-width: 600px;

    border-collapse: collapse;
    margin-top: 20p
}

.seemore{
    text-align: center; 
    font-size: 20px
   
}

.ost-button{
    color: black;
}

.ost-button:hover{
    color: rgba(0, 0, 0, 0.623);
}
